<!-- Members -->
<div class= 'community-page'>
<div>
  <div class="text-center index-header">
    <h2>Community</h2>
  </div>
</div>
  <div class="pro-mem">
    <div class="container">
      <div class="row">
        <div class="center">
          <% @users.all.each do |user| %>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                    <% if user.profile.avatar_file_name %>
                      <%= image_tag user.profile.avatar.url(:medium) %>
                    <% end %>
                    <div class="caption">
                    
                      <h4><%= user.profile.first_name.capitalize %> <%= user.profile.last_name.capitalize %></h4>
                      <h5><%= user.profile.job_title %></h5>
                      <%= link_to "Profile", user_path(user), class:"follow" %>
                      <a href="#" class="info">Follow</a>
                    </div>
                </div>
              </figure>
              <!-- end .uou-block-6a --> 
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>




