<!-- Members -->

<div>
  <div class="text-center index-header">
    <h2>Community</h2>
  </div>
  <div class="pro-mem">
    <div class="container pb30">
      <div class="row">
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/01.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/02.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/03.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/04.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/01.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/02.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/03.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
        <div class="col-sm-3">
          <div class="uou-block-6a"> <img src="assets/team/04.jpg" alt="pro">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p><i class="fa fa-map-marker"></i> New York, USA</p>
            <%= link_to "View Profile", "#", class: "btn btn-primary btn-block" %>
          </div>
          <!-- end .uou-block-6a --> 
        </div>
      </div>
    </div>
  </div>
</div>