<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profindr</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "assets/stylesheets/application.css.scss" %>
  <%= stylesheet_link_tag "assets/stylesheets/pages.css.scss" %>
  
  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

  

  
  
        <%= csrf_meta_tags %>
  </head>
  <body>
  
<!-- Navigation
    ==========================================-->
    <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
               <div class="container">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                       <a class="navbar-brand" href="/"><i class="fa fa-sun-o"></i> ProFindr </a>
                   </div>
                   <div class="collapse navbar-collapse navbar-right">
                       <ul class="nav navbar-nav">
                           <li class="active"><a href="/">Home</a> </li>
                           <li><a href="/about">About</a></li>
                           <li><a href="#services">Services</a></li>
                           <li><a href="#portfolio">Portfolio</a></li>
                           <li><a href="#contact">Contact</a></li>
                           <% if current_user %>
                           <li class="dropdown">
                              <a href="#" class="dropdown-toggle signup-in-out" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dashboard <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li class="text-center"><%= link_to "Profile", user_path(current_user) %></li>
                                <li class="text-center"><%= link_to "Community", users_path %></li>
                                <li class="text-center"><%= link_to 'Sign out', destroy_user_session_path, class: 'signup-in-out', method: :DELETE %></li>
                              </ul>
                            </li>

                           <% else %>
                             <li><%= link_to 'LOG IN', new_user_session_path, class: 'signup-in-out' %></li>
                             <li><%= link_to 'SIGN UP', new_user_registration_path, class: 'signup-in-out' %></li>
                           <% end %>
                       </ul>
                   </div>
                </div> 
            </nav>
        </header><!-- end of navigation -->


<%= yield %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    
    
    <!-- Javascripts
        ================================================== --> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>
